{% extends 'base.html.twig' %}

{% block title %}EasyStage | Professeur{% endblock %}

{% block body %}
<div id="wrapper">
    <h2>Interface professeur</h2>
    <h3>Sur cette page vous retrouverez toutes les informations concernant les eleves.</h3>
    <p>Nombre d'élève ayant un stage :</p> <!-- Variable contenant le nombre d'eleve -->
    <a href="{{ path('list_stage') }}">Consulter la liste des élèves ayant un stage.</a>
    <p>Nombre d'élève n'ayant pas de stage :</p> <!-- Variable contenant le nombre d'eleve -->
    <a href="#">Consulter la liste des élèves n'ayant pas de stage.</a>
    <p>Autre lien utile :</p> <!-- Variable contenant le nombre d'eleve -->
    <a href="./stage">liste des entreprises.</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">liste des élèves.</a>
    <br /><br />
    <h5>Devenir tuteur d'un stagiaire:</h5>
    <form method="post" action="#">
        <div class="row gtr-uniform">
            <div class="col-12">
                <p>selectionné le stagiaire désiré :</p>
                <select name="demo-category" id="demo-category">
                    <option>eleve nom + prenom + classe + nom entreprise</option>
                </select>
            </div>
            <div class="col-12">
                <input type="submit" value="Devenir tuteur" class="primary"/>
            </div>
        </div>
    </form>
</div>
{% endblock %}
