{% extends 'base.html.twig' %}

{% block title %}Liste des élèves!{% endblock %}

{% block body %}
    <body>
    <div id="wrapper">
        <header id="header">
            <span class="logo"><img src="images/1.png" alt="" /></span>
            <h1>EasyStage</h1>
        </header>
        <div id="main">
            <h2 class="align-center">Liste des élèves</h2>
            <section class="main special">
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                        <th class="align-center">Nom</th>
                        <th class="align-center">Mail</th>
                        <th class="align-center">Telephone</th>
                        </thead>
                        {% for a in eleve %}
                            <tbody>
                            <td><a href="{{ path('detailEleve', {'id':a.id}) }}">{{ a.nom }}</a></td>
                            <td>{{ a.mail }}</td>
                            <td>{{ a.telephone }}</td>
                            <td><a href="{{ path('deleteEleve', {'id': a.id }) }}">Supprimer</a></td>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </section>
        </div>
    </div>
    </body>
{% endblock %}
