{% extends 'base.html.twig' %}
{% block title %}EasyStage | Liste des élèves non stagiaire{% endblock %}
{% block body %}
    <a href="{{ path('professeur') }}">Retour</a>
    <!-- affichage basique des élèves n'ayant pas de stage. -->
{% endblock %}