{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <header class="major">
        <h1>Bienvenue sur<br />
            EasyStage !</h1>
    </header>
    <h2>Présentation</h2>
    <blockquote>D’une durée de 5 jours consécutifs ou non, individuellement ou collectivement,
        le stage de 3e est obligatoire. Conventionné et non rétribué, il se déroule durant
        l’année hors vacances scolaires. Ce stage donne à l’élève l’occasion de découvrir le
        monde économique et professionnel, de se confronter aux réalités concrètes du travail
        et de préciser son projet d’orientation.
        <br />
        Le stage est obligatoire pour tous les élèves des classes de troisième.
        Il se déroule dans les entreprises, les associations, les administrations,
        les établissements publics ou les collectivités territoriales, aux conditions prévues
        par le Code du travail. Les élèves de moins de 14 ans effectuent leur stage uniquement
        dans des établissements publics ou des entreprises familiales.</blockquote>
    <p style="text-align:right">— http://www.education.gouv.fr/cid107211/le-stage-de-3e.html</p>
    <br />
    <header>
        <h2>Le problème du stage de 3e</h2>
    </header>
    <p>Chaque année de nombreux élèves (et parents) peinent à trouver une entreprise d’accueil.
        En effet, trouver un stage n’est pas toujours facile, loin de là. Sans contacts
        et sans expérience, vous pouvez avoir la sensation que la tâche est longue, pénible
        et complexe.</p>
    <br />
    <header>
        <h2>Mais easystage est la !</h2>
    </header>
    <p>Une application, accessible en ligne, permettant d’identifier les entreprises « partenaire »
        locales, ou ayant déjà accueilli des stagiaires, en vue de favoriser la prise de contacts.</p>
{% endblock %}
