<!DOCTYPE html>
<html>
<head>
    <header id="header">
        <h1>EasyStage</h1>
    </header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
    {% endblock %}
</head>
<body class="is-preload">
{% block nav %}
    <nav id="nav">
        <ul class="links" style="padding-right: 1em;">
            <li><a href="{{ path('presentation') }}">Présentation</a></li>
            {% if is_granted('ROLE_ELEVE') %}
            <li><a href="user/eleve">Elève</a></li>
            <li><a href="{{ path('newStage') }}">Déclarer son stage</a></li>
            {% elseif is_granted('ROLE_PROFESSEUR') %}
            <li><a href="user/professeur">Professeur</a></li>
            {% elseif is_granted('ROLE_ADMINISTRATEUR') %}
            <li><a href="./administrateur">Administrateur</a></li>
            {% endif %}
        </ul>
            {% if is_granted('ROLE_ELEVE') or is_granted('ROLE_PROFESSEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
                <ul class="links" style="flex-grow: 0;">
                    <li class="nav-item"><a class="nav-link" href="{{ path('logout') }}">Déconnexion</a></li>
                </ul>
            {% else %}
                <ul class="links" style="flex-grow: 0;">
                    <li class="nav-item {% if mainNavLogin is defined %}active{% endif %}"><a class="nav-link" href="{{ path('login') }}">Connexion</a></li>
                    <li class="nav-item {% if mainNavRegistration is defined %}active{% endif %}"><a class="nav-link" href="{{ path('register') }}">Inscription</a></li>
                </ul>
            {% endif %}

    </nav>
{% endblock %}

{% block flash %}
    {% for flash_message in app.session.flashbag.get('success') %}
        <div class="container alert alert-success" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('info') %}
        <div class="container alert alert-info" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('warning') %}
        <div class="container alert alert-warning" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('danger') %}
        <div class="container alert alert-danger" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endblock %}

<div id="wrapper" class="fade-in">
    <div id="main">
        <section>
            {% block body %}
            {% endblock %}
        </section>
    </div>
</div>
<div id="copyright">
    <ul>
        <li>&copy; EasyStage</li>
        <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
    </ul>
</div>

</div>
{% block javascripts %}
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
{% endblock %}
</body>
</html>