{% extends 'base.html.twig' %}
{% block title %}EasyStage | recherche de stage en ligne{% endblock %}
{% block body %}
    <div id="wrapper" class="fade-in">
        <div id="main">
            <!--<section> -->
                <h2>Bienvenue sur EasyStage !</h2>
                <h3>La plateforme EasyStage vous permet de trouver facilement un stage a partir d'une liste d'entreprise...</h3>
                <p>Vous trouverez ci-dessous la liste des entreprise qui peuvent vous accueillir
                    en tant que stagiaire. Envoyez vos candidatures (CV+Lettre) aux entreprise souhaité.</p>
                <a href="./stage">Liste des entreprise accueillant des stagiare</a>
                <p>Une fois que vous avez trouver votre entreprise pour faire votre stage,
                    que celle-ci est d'accord pour vous embaucher, il est impératif de remplir le formulaire ci-dessous
                    pour valider votre embauche.
                </p>
                <hr />
                <form method="post" action="#">
                    <div class="row gtr-uniform">
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="demo-name" id="demo-name" value="" placeholder="Nom" />
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="email" name="demo-email" id="demo-email" value="" placeholder="Prénom" />
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="email" name="demo-email" id="demo-email" value="" placeholder="Classe" />
                        </div>
                        <!-- Break -->
                        <div class="col-12">
                            <h5>Entreprise</h5>
                            <select name="demo-category" id="demo-category">
                                {% for i in entreprise %}
                                        <option>{{  i.nom }}</option>
                                {% endfor %}
                            </select><br>
                                <input type="submit" value="Valider" class="primary" />
                                <input type="reset" value="réinitialiser" />
                        </div>
                    </div>
                </form>
<!--1            </section> -->

        </div>

        <div id="copyright">
            <ul>
                <li>&copy; EasyStage</li>
                <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>

    </div>
{% endblock %}