{% extends 'base.html.twig' %}
{% block title %}EasyStage | recherche de stage en ligne{% endblock %}
{% block body %}

        <table>
                    <thead>
                    <tr>
                        <th>Entreprise</th>
                        <th>Adresse</th>
                        <th>Téléphone</th>
                        <th>Domaine d'activité</th>
                    </tr>
                    </thead>
                    {% for i in entreprise %}
                        <tr>
                            <td>{{  i.nom }}</td>
                            <td>{{  i.adresse }} </br>{{ i.cp }} {{ i.ville }}</td>
                            <td>{{  i.tel }}</td>
                            <td>{{  i.activite }}</td>
                        </tr>
                    {% endfor %}
                </table>

{% endblock %}