{% extends 'base.html.twig' %}

{% block body %}

    <div class="card" style="display: block; margin-left: auto; margin-right:auto; width: 35rem; margin-top: 3%; margin-bottom: 3%; ">
        <div class="card-body">
            <h2 style="text-align: center">Déclarer un stage</h2>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" style="display: block; margin-left: auto; margin-right: 0px; margin-top: 5%; margin-bottom: 1%;">OK</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
