{% extends 'base.html.twig' %}

{% block body %}
    <div class="card" style="display: block; margin-left: auto; margin-right:auto; width: 25rem; margin-top: 3%; margin-bottom: 3%; ">
        <div class="card-body">
            <h2 style="text-align: center; padding-top: 3%">Vous êtes un <strong>{{ type }}</strong></h2>
            <h4 style="text-align: center; padding-top: 3%">Informations relatives à votre statut</h4>
            <p>WIP</p>
            <section>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" style="display: block; margin-left: auto; margin-right: 0px; margin-top: 5%; margin-bottom: 1%;">Mettre à Jour</button>
                {{ form_end(form) }}
            </section>
        </div>
    </div>
{% endblock %}
