{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <h3 class="major">Formulaire</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br /><button>Envoyer</button>
        {{ form_end(form) }}
    </section>


{% endblock %}